.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  height: calc(100vh - 50px);
}

.subContainer {
  font-size: 4rem;
  background-color: rgb(57, 112, 231);
  cursor: pointer;
  text-decoration: none;
  padding: 4rem;
  border-radius: 8px;
  color: white;
  z-index: 4;
}

.subContainer:hover {
  background-color: rgb(12, 87, 249);
}

.backgroundImg {
  position: absolute;
  top: 0;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}
