.verification-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  color: white;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 10px 20px -3px;
}

.verification-page {
  width: 50%;
  margin: 8rem auto;
}

@media only screen and (max-width: 900px) {
  .verification-page {
    width: 80%;
  }
}

.verify-button {
  all: unset;
  background-color: green;
  padding: 0.8rem 1.6rem;
  color: white;
  font-size: 2rem;
  border-radius: 4px;
  cursor: pointer;
}
